{
    "name": "",
    "description": "",
    "spec": [
        {
            "question_name": "Force Deploy",
            "question_description": "Select Force Deploy Options",
            "required": false,
            "type": "multiselect",
            "variable": "force_deploy",
            "min": null,
            "max": null,
            "default": "",
            "choices": "Local_Policy\nPolicy_Parameters\nExclude_Sections\nMiddleware_Configuration\nall",
            "new_question": true
        },
        {
            "question_name": "Custom Files",
            "question_description": "Select Custom Files Options",
            "required": false,
            "type": "multiselect",
            "variable": "custom_files",
            "min": null,
            "max": null,
            "default": "",
            "choices": "Local_Policy\nPolicy_Parameters\nExclude_Sections\nMiddleware_Configuration\nall",
            "new_question": true
        },
        {
            "question_name": "Local Policy Path",
            "question_description": "Please input the local policy file path on git repo",
            "required": false,
            "type": "text",
            "variable": "local_policy_path",
            "min": 0,
            "max": 1024,
            "default": "templates/Calibrations/{{item.name}}/localpolicy.xml",
            "choices": "",
            "new_question": true
        },
        {
            "question_name": "Exclude Sections Path",
            "question_description": "Please input the exclude sections file path on git repo",
            "required": false,
            "type": "text",
            "variable": "exclude_sections_path",
            "min": 0,
            "max": 1024,
            "default": "templates/Calibrations/{{item.name}}/exclude_sections.txt",
            "choices": "",
            "new_question": true
        },
        {
            "question_name": "Policy Parameters Path",
            "question_description": "Please input the policy parameters file path on git repo",
            "required": false,
            "type": "text",
            "variable": "policy_parameter_path",
            "min": 0,
            "max": 1024,
            "default": "templates/Calibrations/{{item.name}}/policy_parameters.txt",
            "choices": "",
            "new_question": true
        },
        {
            "question_name": "Middleware Config Path",
            "question_description": "Please input the middleware config file path on git repo",
            "required": false,
            "type": "text",
            "variable": "middleware_config_path",
            "min": 0,
            "max": 1024,
            "default": "templates/Calibrations/{{item.name}}/{{item.config_name}}",
            "choices": "",
            "new_question": true
        },
        {
            "question_name": "Password template 1",
            "question_description": "",
            "required": false,
            "type": "password",
            "variable": "password_1",
            "min": 0,
            "max": 32,
            "default": "",
            "choices": "",
            "new_question": true
        },
        {
            "question_name": "Password template 2",
            "question_description": "",
            "required": false,
            "type": "password",
            "variable": "password_2",
            "min": 0,
            "max": 32,
            "default": "",
            "choices": "",
            "new_question": true
        },
        {
            "question_name": "Password template 3",
            "question_description": "",
            "required": false,
            "type": "password",
            "variable": "password_3",
            "min": 0,
            "max": 32,
            "default": "",
            "choices": "",
            "new_question": true
        },
        {
            "question_name": "Password template 4",
            "question_description": "",
            "required": false,
            "type": "password",
            "variable": "password_4",
            "min": 0,
            "max": 32,
            "default": "",
            "choices": "",
            "new_question": true
        },
        {
            "question_name": "Password template 5",
            "question_description": "",
            "required": false,
            "type": "password",
            "variable": "password_5",
            "min": 0,
            "max": 32,
            "default": "",
            "choices": "",
            "new_question": true
        },
        {
            "question_name": "Password template 6",
            "question_description": "",
            "required": false,
            "type": "password",
            "variable": "password_6",
            "min": 0,
            "max": 32,
            "default": "",
            "choices": "",
            "new_question": true
        },
        {
            "question_name": "Password template 7",
            "question_description": "",
            "required": false,
            "type": "password",
            "variable": "password_7",
            "min": 0,
            "max": 32,
            "default": "",
            "choices": "",
            "new_question": true
        },
        {
            "question_name": "Password template 8",
            "question_description": "",
            "required": false,
            "type": "password",
            "variable": "password_8",
            "min": 0,
            "max": 32,
            "default": "",
            "choices": "",
            "new_question": true
        },
        {
            "question_name": "Password template 9",
            "question_description": "",
            "required": false,
            "type": "password",
            "variable": "password_9",
            "min": 0,
            "max": 32,
            "default": "",
            "choices": "",
            "new_question": true
        },
        {
            "question_name": "Password template 10",
            "question_description": "",
            "required": false,
            "type": "password",
            "variable": "password_10",
            "min": 0,
            "max": 32,
            "default": "",
            "choices": "",
            "new_question": true
        }
    ]
}